body {
    background: linear-gradient(180deg, #FF7F0022, white, #9400D322);
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.made-by {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 8px 16px;
    background: white;
    color: hotpink;
    font-family: monospace;
    font-size: 12px;
}